[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=cangaroo
Exec=cangaroo %f
Comment=CAN Bus Analyzer
Icon=cangaroo
StartupNotify=false
Categories=Development;
